{% extends "base.html" %}

{% block content %}
<div>
  <div>

    <h1>{{ title }}</h1>

    {% if error %}
      <p>{{ error }}</p>
    {% endif %}

    <form action="{{ action }}" method="post">
      <div>
        <label for="username">Benutzername</label>
        <input
          type="text"
          name="username"
          placeholder="Benutzername"
          required
        >
      </div>

      <div>
        <label for="password">Passwort</label>
        <input
          type="password"
          name="password"
          placeholder="Passwort"
          required
        >
      </div>

      <button type="submit">
        {{ button_label }}
      </button>
    </form>

    {% if footer_text %}
      <p>
        {{ footer_text }}
        <a href="{{ footer_link_url }}">{{ footer_link_label }}</a>
      </p>
    {% endif %}

  </div>
</div>
{% endblock %}
