<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Tennisplatz Buchungssystem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

    <div class="container">
        <h1>Tennisplatz Buchungssystem</h1>

        <div class="button-container">
            <a href="{{ url_for('buchen') }}">Tennisplatz buchen</a>
            <a href="stornieren.html" class="btn">Tennisplatz stornieren</a>
            <a href="verwaltung.html" class="btn admin">Verwaltung</a>
        </div>
    </div>

</body>