<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <title>Tennisplatz-Buchungssystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header class="global-header">
    <div class="header-left">
        <a href="{{ url_for('index') }}" class="logo-link">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="header-logo">
        </a>
        <h1 class="header-title">Tennisplatz‑Buchungssystem</h1>
    </div>

    <nav class="header-nav">
        <div class="nav-links">
            <a href="{{ url_for('buchen') }}" class="nav-link">Buchen</a>
            <a href="{{ url_for('stornieren') }}" class="nav-link">Stornieren</a>
            <a href="{{ url_for('verwaltung') }}" class="nav-link">Verwaltung</a>
        </div>
    </nav>
</header>

<section class="admin-hero">
    <div class="admin-hero-content">
        <h2>Verwaltung</h2>

        <div class="admin-hero-buttons">
            <a href="{{ url_for('tennisplätze') }}">Tennisplätze</a>
            <a href="{{ url_for('wartungsarbeiter') }}">Wartungsarbeiter</a>
        </div>
    </div>
</section>

<footer>
    <p>
        Impressum<br>
        Tennisverein Musterstadt · Musterstraße 1 · 12345 Musterstadt
    </p>
</footer>

</body>
</html>
