<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <title>Tennisplatz-Buchungssystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <img src="static/logo.png" alt="Logo">
    <h1>Tennisplatz-Buchungssystem</h1>
</header>

<h2 class="subheading">Verwaltung</h2>

<div class="container">
    <nav>
        <a href="{{ url_for('tennisplätze') }}">Tennisplätze</a>
        <a href="{{ url_for('wartungsarbeiter') }}">Wartungsarbeiter</a>
    </nav>
</div>

<footer>
    <p>
        Impressum<br>
        Tennisverein Musterstadt · Musterstraße 1 · 12345 Musterstadt
    </p>
</footer>

</body>
</html>
